<!DOCTYPE html>
<html>

<head>
    <title>Serviqo Dashboard</title>
</head>

<body>

<h1>Welcome {{ request.user.username }} 👋</h1>


{% if business %}

<h2>Your Business</h2>

<p>
<strong>Name:</strong> {{ business.name }}
</p>

<p>
<strong>Category:</strong> {{ business.category }}
</p>

<p>
<strong>Phone:</strong> {{ business.phone }}
</p>

<p>
<strong>Address:</strong> {{ business.address }}
</p>


{% else %}

<h2>No Business Yet</h2>

<a href="{% url 'create_business' %}">
    <button>Create My Business</button>
</a>

{% endif %}


</body>

</html>