{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h1 class="mb-4">
    Welcome, {{ request.user.username }} 👋
</h1>

{% if business %}

<div class="card shadow">

    <div class="card-header bg-primary text-white">
        <h4>Your Business</h4>
    </div>

    <div class="card-body">

        <p><strong>Name:</strong> {{ business.name }}</p>

        <p><strong>Category:</strong> {{ business.category }}</p>

        <p><strong>Phone:</strong> {{ business.phone }}</p>

        <p><strong>Address:</strong> {{ business.address }}</p>

        <hr>

        <a href="{% url 'services' %}"
           class="btn btn-success">
            Manage Services
        </a>

        <a href="{% url 'working_hours' %}"
           class="btn btn-warning">
            Working Hours
        </a>
      
        <a href="{% url 'appointments' %}"
   class="btn btn-info">
    Appointments
      </a>

    </div>

</div>

{% else %}

<div class="alert alert-info">

    <h3>No Business Yet</h3>

    <a href="{% url 'create_business' %}"
       class="btn btn-primary">

        Create My Business

    </a>

</div>

{% endif %}

{% endblock %}